.articlesHeader {
  display: flex;
  justify-items: end;
}

.editCell {
  display: flex;
  align-items: flex-start;

  svg {
    margin: 0.6rem;
  }

  @media (max-width: 768px) {
    justify-content: end;
  }
}
